.page.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .page-width-message {
    display: none;
  }
  .sidebar {
    $padding: 20px;
    $left: 20px;
    $top: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 25%;
    height: calc(100% - ($padding + $top));
    padding: $padding;
    left: $left;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    outline: 1px solid #ccc;
    top: $top;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    .category {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      position: relative;
      padding: 0;
      h3 {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-size: 1.2em;
        border-top: 1px solid #ccc;
      }
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: auto;
        margin: 0;
        left: 0;
        top: 0;
        padding: 10px;
        background: white;
        border-bottom: 1px solid #ccc;
        position: relative;
        transition: 100ms ease all;
        &:hover {
          background: rgb(230, 230, 230);
        }
      }
      .optic-selector {
        text-align: center;
        button {
          color: white;
          background: $primary;
          outline: none;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: 100ms ease all;
          &:hover {
            background: $secondary;
          }
        }
      }
    }
  }
  .viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(75% - 10px);
    height: 100%;
    right: 0;
    top: 0;
    padding: 10px;
    position: absolute;
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      .gun {
        width: 700px;
        height: auto;
        position: relative;
        .optic-card {
          background: white;
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
          outline: 1px solid #ccc;
          padding: 20px;
          border-radius: 5px;
          z-index: +1;
          position: absolute;
          &.MP7 {
            &.eotech-exps2 {
              top: -190px;
              right: 50%;
            }
          }
          img {
            width: 100%;
          }
          h4 {
            margin: 0;
            padding: 0;
            font-size: 1em;
          }
        }
        .sight-selector {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: rgb(200, 0, 0);
          position: absolute;
          z-index: +1;
          cursor: pointer;
          transition: 100ms ease all;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          &:hover {
            .optic {
              filter: drop-shadow(0 0 10px $primary) brightness(150%);
            }
          }
          &.hidden {
            display: none;
          }
          .optic {
            right: 0;
            top: -47.5px;
            width: 100px;
            position: absolute;
            -moz-window-dragging: none;
            -webkit-user-drag: none;
            &.exps2_ls {
              &.MP7 {
                top: -65px;
                right: 0;
                width: 135px;
              }
            }
          }

          &.MP7 {
            left: 300px;
            top: 35px;
          }
          &.M4A1 {
            left: 400px;
            top: 260px;
          }
          &.AK-47 {
            display: none;
          }
        }
        .body {
          width: 100%;
          position: relative;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          user-select: none;
          -moz-window-dragging: none;
          -webkit-user-drag: none;
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .page.home {
    .page-width-message {
      color: $primary;
      padding: 20%;
      font-size: 2em;
      width: 100%;
      height: 100%;
      gap: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      text-wrap: wrap;
      text-overflow: ellipsis;
      background: white;
      z-index: 99;
      &.hidden {
        display: none;
      }
      span {
        display: inline-block;
        margin: 0;
        padding: 0;
        color: $secondary;
      }
      button {
        color: white;
        background: $primary;
        outline: none;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: 100ms ease all;
        &:hover {
          background: $secondary;
        }
      }
    }
  }
}
