@import "./vars";
@import "./functions";

*,*::before,*::after {
    box-sizing: border-box;
}
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.page {
    width: 100vw;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    left: 0;
    top: 50px;
    background: red;
    position: absolute;
}

@import "./header.scss";

@import "../pages/c.scss";