header.header#header {
  @include flex-center-center-row;
  width: 100vw;
  height: 50px;
  background: white;
  position: fixed;
  z-index: 99;
  ul {
    @include flex-center-center-row;
    list-style: none;
    gap: 20px;
    li {
      @include flex-center-center-row;
      a {
        @include flex-center-center-row;
        color: $primary;
        transition: 100ms ease all;
        text-decoration: none;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
